@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
body {
  font-family: "Noto Sans KR", sans-serif, arial;
  font-size: 12px;
  color: #333;
  background: #ffffff;
  overflow-x: hidden;
}

a {
  color: #333;
  text-decoration: none;
}

address {
  font-style: normal;
}

.h_on {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.h_txt_color {
  color: #333 !important;
}

main {
  overflow: hidden;
  clear: both;
}
main > #movie {
  height: 100vh;
  overflow: hidden;
}
main > #movie > video {
  width: 100%;
}
main > #movie > #next_btn {
  display: inline-block;
  color: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  transform: rotate(-45deg);
}
main > #movie .m_info {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 40%;
  z-index: 100;
  color: #ffffff;
}
main > #movie .m_info > h2 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: bold;
}
main > #movie .m_info > p {
  line-height: 80px;
  font-size: 16px;
}
main > #movie .m_info > a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: underline;
  margin: 0px 20px;
  padding: 5px 10px;
}
main > #movie .m_info > a:first-of-type {
  background: #006EFF;
}
main > #top3 {
  text-align: center;
  padding-bottom: 70px;
  /* slide 서식 */
}
main > #top3 > .p01 {
  font-size: 16px;
  line-height: 50px;
}
main > #top3 .top3 {
  position: relative;
  margin-top: 50px;
  padding: 20px 0px 50px 0px;
}
main > #top3 .top3 > .swiper-wrapper {
  width: 100%;
  height: 100%;
}
main > #top3 .top3 > .swiper-wrapper .rank {
  color: #327186;
  border: 1px solid #327186;
  padding: 6px 30px;
  border-radius: 20px;
  font-size: 14px;
}
main > #top3 .top3 > .swiper-wrapper .top3_title {
  font-size: 22px;
  font-weight: 600;
  padding-top: 30px;
  color: #052B58;
}
main > #top3 .top3 > .swiper-wrapper img {
  width: 400px;
  padding: 80px 0px;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.1, 1);
  transform: scale(0.7);
}
main > #top3 .top3 > .swiper-wrapper .swiper-slide-active img {
  transform: scale(1.2);
}
main > #top3 .top3 > .swiper-wrapper .detail {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}
main > #top3 .top3 > .swiper-wrapper .detail > li {
  width: 190px;
  border-right: 1px solid #ccc;
  text-align: left !important;
  line-height: 20px;
  font-size: 16px;
  padding: 0px 20px;
}
main > #top3 .top3 > .swiper-wrapper .detail > li:last-child {
  border: none;
  padding-top: 6px;
}
main > #top3 .top3 > .swiper-wrapper .detail > li .outer_color, main > #top3 .top3 > .swiper-wrapper .detail > li .inner_color {
  display: block;
  width: 56px;
  height: 40px;
  text-indent: -9999px;
  float: left;
  margin-right: 10px;
}
main > #top3 .top3 > .swiper-wrapper .detail > li .kaki {
  background-color: #494b3e;
}
main > #top3 .top3 > .swiper-wrapper .detail > li .black {
  background-color: #000;
}
main > #top3 .top3 > .swiper-wrapper .detail > li .white {
  background-color: #fff;
  border: 1px solid #ccc;
}
main > #top3 .top3 > .swiper-wrapper .detail > li .orange {
  background-color: rgb(190, 86, 0);
}
main > #top3 .top3 > .swiper-wrapper .detail > li .price {
  font-size: 22px;
  font-weight: bold;
  color: #052B58;
}
main > #top3 .top3 > .swiper-wrapper .btn {
  border: 1px solid #333;
  background: #ffffff;
  padding: 8px 26px;
  cursor: pointer;
}
main > #top3 .swiper-pagination-bullet {
  width: 100px !important;
  height: 10px !important;
  border-radius: 0px !important;
  background-color: #006EFF !important;
  margin: 0 5px !important;
}
main > #top3 .swiper-button-next, main > #top3 .swiper-button-prev {
  border-radius: 0 !important;
  margin: 0 5px !important;
}
main > #top3 .swiper-button-next::after, main > #top3 .swiper-button-next::before {
  color: #225499 !important;
}
main > #intro {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
main > #intro > .m_title {
  position: absolute;
  width: 100%;
  left: 50%;
  top: -100px;
  transform: translateX(-50%);
}
main > #intro > video {
  width: 100%;
}
main > #intro > .intro_title_left, main > #intro .intro_title_right {
  position: absolute;
  z-index: 100;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
}
main > #intro > .intro_title_left {
  top: 200px;
  left: -330px;
}
main > #intro > .intro_title_right {
  bottom: 200px;
  right: -300px;
  text-align: right;
}
main > #intro > .btn {
  border: 1px solid #333;
  background: #ffffff;
  padding: 8px 26px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  display: none;
}
main > #test_drive {
  text-align: center;
  padding-bottom: 70px;
}
main > #test_drive > .p01 {
  line-height: 40px;
  font-size: 14px;
}
main > #test_drive article {
  width: 430px;
  height: 280px;
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 50px;
  display: inline-block;
  vertical-align: middle;
}
main > #test_drive article > h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}
main > #test_drive article .p02 {
  padding: 20px 0px;
  line-height: 22px;
  margin-bottom: 30px;
}
main > #test_drive article .test_d_btn1 {
  padding: 10px 60px;
  color: #ffffff;
  background-color: #225499;
  line-height: 30px;
}
main > #test_drive article .test_d_btn2 {
  display: block;
  position: relative;
  top: 20px;
  color: #00B3FF;
  font-weight: 450;
}
main > #test_drive article .test_s_p {
  transform: translateY(100px);
}
main > #test_drive .text_drive_r > .test_s_p {
  transform: translateY(112px);
}
main > #event {
  text-align: center;
  background-color: #ccc;
}
main > #event > .p01 {
  line-height: 40px;
  font-size: 14px;
}
main > #event .event {
  transform: scale(0.7);
  padding: 0 0 50px 0;
}
main > #event .event .event_wrapper {
  width: 100%;
}
main > #event .event .event_wrapper .event_slide img {
  width: 100%;
}
main > #event .event .swiper-pagination-bullet {
  transform: scale(1) !important;
  width: 20px;
  height: 20px;
  transition: 0.3s;
}
main > #event .event .swiper-pagination-bullet-active {
  width: 100px;
  border-radius: 50px;
}
main > #buy {
  height: 923px;
  text-align: center;
}
main > #buy > .p01 {
  line-height: 40px;
  font-size: 14px;
}
main > #buy h3 {
  font-size: 20px;
  padding: 40px 0px 20px 0px;
  font-weight: bold;
}
main > #buy h3 > .t_color {
  color: #3B8BAE;
}
main > #buy .buy_info_list {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 33.333333%);
}
main > #buy .buy_info_list > li {
  padding-top: 50px;
}
main > #buy .buy_info_list > li > h4 {
  font-size: 18px;
  font-weight: bold;
}
main > #buy .buy_info_list > li > img {
  width: 80px;
  padding: 15px 0px;
}
main > #buy .buy_info_list > li > .p02 {
  line-height: 20px;
}
main > #buy .buy_info_list > li:last-child {
  grid-area: 3/1/4/4;
}
main > #buy .buy_info_list > li:last-child iframe {
  height: 400px;
}
main > #customer {
  margin-top: 300px;
  background-color: #ededed;
}
main > #customer > article {
  padding: 24px 0px;
  width: 1200px;
  height: 280px;
  margin: 15px auto;
  background-color: #ffffff;
}
main > #customer > article > h3 {
  font-size: 18px;
  text-align: center;
  padding: 60px 0px 20px 0px;
  font-weight: bold;
}
main > #customer > article .ars_left, main > #customer > article .ars_right {
  width: 50%;
  padding: 20px 30px;
  box-sizing: border-box;
  float: left;
  display: flex;
  justify-content: space-around;
}
main > #customer > article .ars_left p, main > #customer > article .ars_right p {
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  align-items: center;
}
main > #customer > article .ars_left p > a, main > #customer > article .ars_right p > a {
  color: #006EFF;
}
main > #customer > article .ars_left > dl, main > #customer > article .ars_right > dl {
  line-height: 24px;
}
main > #customer > article .ars_left > dl > dt, main > #customer > article .ars_right > dl > dt {
  font-weight: bold;
}
main > #customer > article .ars_left {
  border-right: 1px solid #ccc;
}
main > #customer > article strong {
  font-weight: 500;
  font-size: 16px;
}
main > #customer > article .car_icon, main > #customer > article .member_icon {
  background: url("../images/bg-support-ars.png");
  display: inline-block;
  height: 46px;
  text-indent: -9999px;
  margin-top: 30px;
}
main > #customer > article .car_icon {
  width: 75px;
}
main > #customer > article .member_icon {
  width: 60px;
  background-position: -90px 0px;
  transform: translateY(-30px);
}
main > #customer .cs_etc {
  width: 1200px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding-bottom: 50px;
}
main > #customer .cs_etc li {
  background-color: #ffffff;
  padding: 30px 30px;
  position: relative;
}
main > #customer .cs_etc li h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 50px;
}
main > #customer .cs_etc li p {
  line-height: 20px;
}
main > #customer .cs_etc li p:last-of-type {
  padding-bottom: 20px;
}
main > #customer .cs_etc li .cs_etc_txt {
  font-weight: 500;
}
main > #customer .cs_etc li > a {
  color: #006EFF;
}
main > #customer .cs_etc li .cs_etc_img {
  display: block;
  text-align: center;
}
main > #customer .cs_etc li .cs_btn {
  text-align: center;
  display: block;
  width: 150px;
  color: #ffffff;
  background-color: #225499;
  line-height: 40px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
main > #customer .cs_etc li:nth-child(4) {
  text-align: center;
}
main > #customer .cs_etc li:nth-child(4) h3, main > #customer .cs_etc li:nth-child(4) p {
  text-align: left !important;
}
main > #customer .cs_etc li:nth-child(4) a:first-of-type {
  padding-bottom: 10px;
}
main > #customer .cs_etc li:last-child {
  padding: 0px;
  grid-area: 2/1/3/5;
  overflow: hidden;
  background-color: none;
}
main > #customer .cs_etc li:last-child img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.clearfix {
  clear: both;
  content: "";
  display: block;
}

.m_title {
  margin: 80px 0px 0px 0px;
  font-size: 34px;
  text-align: center;
  font-weight: bold;
  padding: 80px 0px 10px 0px;
}/*# sourceMappingURL=main.css.map */